t24-inbound-connector/src/main/resources/wsdl/IntegrationFlowServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax233="http://response.data.integrationflow.services.temenos.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://IntegrationFlowServiceWS" xmlns:ax231="http://data.services.soa.temenos.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax234="http://data.integrationflow.services.temenos.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://IntegrationFlowServiceWS">
    <wsdl:documentation>IntegrationFlowWebService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.integrationflow.services.temenos.com/xsd">
            <xs:complexType name="IntegrationFlowDataLibrary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProjectDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntegrationFlowBaseAsXml">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventXmlData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flowXmlData" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntegrationFlowBaseAsXslt">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventXslt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flowXslt" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ComponentServiceData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inputName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inputType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inputValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntegrationFlowSchema">
                <xs:sequence>
                    <xs:element minOccurs="0" name="batchMultiSchema" nillable="true" type="ax234:SchemaDocument"/>
                    <xs:element minOccurs="0" name="batchSchema" nillable="true" type="ax234:SchemaDocument"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="importedNamespaces" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="importedSchemaDocuments" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="importedSchemaNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="multiSchema" nillable="true" type="ax234:SchemaDocument"/>
                    <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schemaName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="targetNamespace" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SchemaDocument">
                <xs:sequence>
                    <xs:element minOccurs="0" name="schemaContent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schemaName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fieldDefinition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ExitPoint">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="overrideCodes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntegrationFlowBase">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sourceType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax236="http://data.services.soa.temenos.com/xsd" xmlns:ax235="http://data.integrationflow.services.temenos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.data.integrationflow.services.temenos.com/xsd">
            <xs:import namespace="http://data.integrationflow.services.temenos.com/xsd"/>
            <xs:import namespace="http://data.services.soa.temenos.com/xsd"/>
            <xs:complexType name="UpdateDataLibraryResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dataLibraryUpdateResponse" nillable="true" type="ax234:IntegrationFlowDataLibrary"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetAllFlowNamesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="flowNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateFlowFromXMLResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="integrationFlowSchema" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteAllFlowsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetAllFlowSchemasResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="integrationFlowSchemas" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetRelevantFlowsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="integrationFlows" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateFlowsFromXMLResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="integrationFlowSchema" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetFlowSchemaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="integrationFlowSchema" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReadFlowResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="componentServiceData" nillable="true" type="ax234:ComponentServiceData"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contractData" nillable="true" type="ax234:ContractData"/>
                    <xs:element minOccurs="0" name="exitPoint" nillable="true" type="ax234:ExitPoint"/>
                    <xs:element minOccurs="0" name="integrationFlowBase" nillable="true" type="ax234:IntegrationFlowBase"/>
                    <xs:element minOccurs="0" name="integrationFlowSchema" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateFlowResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="integrationFlowSchema" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ValidateFlowResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UpdateFlowResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="integrationFlowSchema" nillable="true" type="ax234:IntegrationFlowSchema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeleteFlowResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax231:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax232="http://data.services.soa.temenos.com/xsd" xmlns:ax238="http://data.integrationflow.services.temenos.com/xsd" xmlns:ax237="http://response.data.integrationflow.services.temenos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://IntegrationFlowServiceWS">
            <xs:import namespace="http://data.services.soa.temenos.com/xsd"/>
            <xs:import namespace="http://response.data.integrationflow.services.temenos.com/xsd"/>
            <xs:import namespace="http://data.integrationflow.services.temenos.com/xsd"/>
            <xs:element name="updateDataLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateDataLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:UpdateDataLibraryResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFlowNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFlowNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:GetAllFlowNamesResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFlowFromXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="projectDetails" nillable="true" type="ax238:ProjectDetails"/>
                        <xs:element minOccurs="0" name="integrationFlowBaseAsXml" nillable="true" type="ax238:IntegrationFlowBaseAsXml"/>
                        <xs:element minOccurs="0" name="integrationFlowBaseAsXslt" nillable="true" type="ax238:IntegrationFlowBaseAsXslt"/>
                        <xs:element minOccurs="0" name="componentServiceData" nillable="true" type="ax238:ComponentServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFlowFromXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:CreateFlowFromXMLResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllFlows">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllFlowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:DeleteAllFlowsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFlowSchemas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFlowSchemasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:GetAllFlowSchemasResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRelevantFlows">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="exitPointType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="exitPointFilter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRelevantFlowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:GetRelevantFlowsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFlowsFromXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="projectDetails" nillable="true" type="ax238:ProjectDetails"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="integrationFlowBaseAsXmls" nillable="true" type="ax238:IntegrationFlowBaseAsXml"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="integrationFlowBaseAsXslts" nillable="true" type="ax238:IntegrationFlowBaseAsXslt"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="componentServiceData" nillable="true" type="ax238:ComponentServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFlowsFromXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:CreateFlowsFromXMLResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlowSchema">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlowSchemaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:GetFlowSchemaResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="readFlow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="readFlowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:ReadFlowResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFlow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="exitPoint" nillable="true" type="ax238:ExitPoint"/>
                        <xs:element minOccurs="0" name="integrationFlowBase" nillable="true" type="ax238:IntegrationFlowBase"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="contractData" nillable="true" type="ax238:ContractData"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="componentServiceData" nillable="true" type="ax238:ComponentServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFlowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:CreateFlowResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateFlow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="exitPoint" nillable="true" type="ax238:ExitPoint"/>
                        <xs:element minOccurs="0" name="integrationFlowBase" nillable="true" type="ax238:IntegrationFlowBase"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="contractData" nillable="true" type="ax238:ContractData"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="componentServiceData" nillable="true" type="ax238:ComponentServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateFlowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:ValidateFlowResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateFlow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="exitPoint" nillable="true" type="ax238:ExitPoint"/>
                        <xs:element minOccurs="0" name="integrationFlowBase" nillable="true" type="ax238:IntegrationFlowBase"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="contractData" nillable="true" type="ax238:ContractData"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="componentServiceData" nillable="true" type="ax238:ComponentServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateFlowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:UpdateFlowResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFlow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax232:T24UserDetails"/>
                        <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFlowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:DeleteFlowResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.services.soa.temenos.com/xsd">
            <xs:complexType name="T24UserDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="coCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passwordAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repeatPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userRole" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResponseDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="responses" nillable="true" type="ax231:Response"/>
                    <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseInfo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getRelevantFlowsRequest">
        <wsdl:part name="parameters" element="ns:getRelevantFlows"/>
    </wsdl:message>
    <wsdl:message name="getRelevantFlowsResponse">
        <wsdl:part name="parameters" element="ns:getRelevantFlowsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllFlowNamesRequest">
        <wsdl:part name="parameters" element="ns:getAllFlowNames"/>
    </wsdl:message>
    <wsdl:message name="getAllFlowNamesResponse">
        <wsdl:part name="parameters" element="ns:getAllFlowNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="updateFlowRequest">
        <wsdl:part name="parameters" element="ns:updateFlow"/>
    </wsdl:message>
    <wsdl:message name="updateFlowResponse">
        <wsdl:part name="parameters" element="ns:updateFlowResponse"/>
    </wsdl:message>
    <wsdl:message name="getFlowSchemaRequest">
        <wsdl:part name="parameters" element="ns:getFlowSchema"/>
    </wsdl:message>
    <wsdl:message name="getFlowSchemaResponse">
        <wsdl:part name="parameters" element="ns:getFlowSchemaResponse"/>
    </wsdl:message>
    <wsdl:message name="validateFlowRequest">
        <wsdl:part name="parameters" element="ns:validateFlow"/>
    </wsdl:message>
    <wsdl:message name="validateFlowResponse">
        <wsdl:part name="parameters" element="ns:validateFlowResponse"/>
    </wsdl:message>
    <wsdl:message name="createFlowsFromXMLRequest">
        <wsdl:part name="parameters" element="ns:createFlowsFromXML"/>
    </wsdl:message>
    <wsdl:message name="createFlowsFromXMLResponse">
        <wsdl:part name="parameters" element="ns:createFlowsFromXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllFlowSchemasRequest">
        <wsdl:part name="parameters" element="ns:getAllFlowSchemas"/>
    </wsdl:message>
    <wsdl:message name="getAllFlowSchemasResponse">
        <wsdl:part name="parameters" element="ns:getAllFlowSchemasResponse"/>
    </wsdl:message>
    <wsdl:message name="updateDataLibraryRequest">
        <wsdl:part name="parameters" element="ns:updateDataLibrary"/>
    </wsdl:message>
    <wsdl:message name="updateDataLibraryResponse">
        <wsdl:part name="parameters" element="ns:updateDataLibraryResponse"/>
    </wsdl:message>
    <wsdl:message name="readFlowRequest">
        <wsdl:part name="parameters" element="ns:readFlow"/>
    </wsdl:message>
    <wsdl:message name="readFlowResponse">
        <wsdl:part name="parameters" element="ns:readFlowResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAllFlowsRequest">
        <wsdl:part name="parameters" element="ns:deleteAllFlows"/>
    </wsdl:message>
    <wsdl:message name="deleteAllFlowsResponse">
        <wsdl:part name="parameters" element="ns:deleteAllFlowsResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteFlowRequest">
        <wsdl:part name="parameters" element="ns:deleteFlow"/>
    </wsdl:message>
    <wsdl:message name="deleteFlowResponse">
        <wsdl:part name="parameters" element="ns:deleteFlowResponse"/>
    </wsdl:message>
    <wsdl:message name="createFlowFromXMLRequest">
        <wsdl:part name="parameters" element="ns:createFlowFromXML"/>
    </wsdl:message>
    <wsdl:message name="createFlowFromXMLResponse">
        <wsdl:part name="parameters" element="ns:createFlowFromXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="createFlowRequest">
        <wsdl:part name="parameters" element="ns:createFlow"/>
    </wsdl:message>
    <wsdl:message name="createFlowResponse">
        <wsdl:part name="parameters" element="ns:createFlowResponse"/>
    </wsdl:message>
    <wsdl:portType name="IntegrationFlowServiceWSPortType">
        <wsdl:operation name="getRelevantFlows">
            <wsdl:input message="ns:getRelevantFlowsRequest" wsaw:Action="urn:getRelevantFlows"/>
            <wsdl:output message="ns:getRelevantFlowsResponse" wsaw:Action="urn:getRelevantFlowsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowNames">
            <wsdl:input message="ns:getAllFlowNamesRequest" wsaw:Action="urn:getAllFlowNames"/>
            <wsdl:output message="ns:getAllFlowNamesResponse" wsaw:Action="urn:getAllFlowNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateFlow">
            <wsdl:input message="ns:updateFlowRequest" wsaw:Action="urn:updateFlow"/>
            <wsdl:output message="ns:updateFlowResponse" wsaw:Action="urn:updateFlowResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getFlowSchema">
            <wsdl:input message="ns:getFlowSchemaRequest" wsaw:Action="urn:getFlowSchema"/>
            <wsdl:output message="ns:getFlowSchemaResponse" wsaw:Action="urn:getFlowSchemaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validateFlow">
            <wsdl:input message="ns:validateFlowRequest" wsaw:Action="urn:validateFlow"/>
            <wsdl:output message="ns:validateFlowResponse" wsaw:Action="urn:validateFlowResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createFlowsFromXML">
            <wsdl:input message="ns:createFlowsFromXMLRequest" wsaw:Action="urn:createFlowsFromXML"/>
            <wsdl:output message="ns:createFlowsFromXMLResponse" wsaw:Action="urn:createFlowsFromXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowSchemas">
            <wsdl:input message="ns:getAllFlowSchemasRequest" wsaw:Action="urn:getAllFlowSchemas"/>
            <wsdl:output message="ns:getAllFlowSchemasResponse" wsaw:Action="urn:getAllFlowSchemasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateDataLibrary">
            <wsdl:input message="ns:updateDataLibraryRequest" wsaw:Action="urn:updateDataLibrary"/>
            <wsdl:output message="ns:updateDataLibraryResponse" wsaw:Action="urn:updateDataLibraryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="readFlow">
            <wsdl:input message="ns:readFlowRequest" wsaw:Action="urn:readFlow"/>
            <wsdl:output message="ns:readFlowResponse" wsaw:Action="urn:readFlowResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFlows">
            <wsdl:input message="ns:deleteAllFlowsRequest" wsaw:Action="urn:deleteAllFlows"/>
            <wsdl:output message="ns:deleteAllFlowsResponse" wsaw:Action="urn:deleteAllFlowsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteFlow">
            <wsdl:input message="ns:deleteFlowRequest" wsaw:Action="urn:deleteFlow"/>
            <wsdl:output message="ns:deleteFlowResponse" wsaw:Action="urn:deleteFlowResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createFlowFromXML">
            <wsdl:input message="ns:createFlowFromXMLRequest" wsaw:Action="urn:createFlowFromXML"/>
            <wsdl:output message="ns:createFlowFromXMLResponse" wsaw:Action="urn:createFlowFromXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createFlow">
            <wsdl:input message="ns:createFlowRequest" wsaw:Action="urn:createFlow"/>
            <wsdl:output message="ns:createFlowResponse" wsaw:Action="urn:createFlowResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IntegrationFlowServiceWSSoap11Binding" type="ns:IntegrationFlowServiceWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRelevantFlows">
            <soap:operation soapAction="urn:getRelevantFlows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowNames">
            <soap:operation soapAction="urn:getAllFlowNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateFlow">
            <soap:operation soapAction="urn:updateFlow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFlowSchema">
            <soap:operation soapAction="urn:getFlowSchema" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateFlow">
            <soap:operation soapAction="urn:validateFlow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlowsFromXML">
            <soap:operation soapAction="urn:createFlowsFromXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDataLibrary">
            <soap:operation soapAction="urn:updateDataLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowSchemas">
            <soap:operation soapAction="urn:getAllFlowSchemas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readFlow">
            <soap:operation soapAction="urn:readFlow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFlows">
            <soap:operation soapAction="urn:deleteAllFlows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFlow">
            <soap:operation soapAction="urn:deleteFlow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlowFromXML">
            <soap:operation soapAction="urn:createFlowFromXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlow">
            <soap:operation soapAction="urn:createFlow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IntegrationFlowServiceWSSoap12Binding" type="ns:IntegrationFlowServiceWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRelevantFlows">
            <soap12:operation soapAction="urn:getRelevantFlows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowNames">
            <soap12:operation soapAction="urn:getAllFlowNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateFlow">
            <soap12:operation soapAction="urn:updateFlow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFlowSchema">
            <soap12:operation soapAction="urn:getFlowSchema" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateFlow">
            <soap12:operation soapAction="urn:validateFlow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlowsFromXML">
            <soap12:operation soapAction="urn:createFlowsFromXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDataLibrary">
            <soap12:operation soapAction="urn:updateDataLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowSchemas">
            <soap12:operation soapAction="urn:getAllFlowSchemas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readFlow">
            <soap12:operation soapAction="urn:readFlow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFlows">
            <soap12:operation soapAction="urn:deleteAllFlows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFlow">
            <soap12:operation soapAction="urn:deleteFlow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlowFromXML">
            <soap12:operation soapAction="urn:createFlowFromXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlow">
            <soap12:operation soapAction="urn:createFlow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IntegrationFlowServiceWSHttpBinding" type="ns:IntegrationFlowServiceWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getRelevantFlows">
            <http:operation location="getRelevantFlows"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowNames">
            <http:operation location="getAllFlowNames"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateFlow">
            <http:operation location="updateFlow"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFlowSchema">
            <http:operation location="getFlowSchema"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateFlow">
            <http:operation location="validateFlow"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlowsFromXML">
            <http:operation location="createFlowsFromXML"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDataLibrary">
            <http:operation location="updateDataLibrary"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFlowSchemas">
            <http:operation location="getAllFlowSchemas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readFlow">
            <http:operation location="readFlow"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllFlows">
            <http:operation location="deleteAllFlows"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFlow">
            <http:operation location="deleteFlow"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlowFromXML">
            <http:operation location="createFlowFromXML"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFlow">
            <http:operation location="createFlow"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IntegrationFlowServiceWS">
        <wsdl:port name="IntegrationFlowServiceWSHttpSoap11Endpoint" binding="ns:IntegrationFlowServiceWSSoap11Binding">
            <soap:address location="http://127.0.0.1:9089/axis2/services/IntegrationFlowServiceWS.IntegrationFlowServiceWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IntegrationFlowServiceWSHttpSoap12Endpoint" binding="ns:IntegrationFlowServiceWSSoap12Binding">
            <soap12:address location="http://127.0.0.1:9089/axis2/services/IntegrationFlowServiceWS.IntegrationFlowServiceWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IntegrationFlowServiceWSHttpEndpoint" binding="ns:IntegrationFlowServiceWSHttpBinding">
            <http:address location="http://127.0.0.1:9089/axis2/services/IntegrationFlowServiceWS.IntegrationFlowServiceWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
