outband-t24-connector/src/main/resources/wsdl/IntegrationLandscapeServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://IntegrationLandscapeServiceWS" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax249="http://response.data.integrationlandscape.services.temenos.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax247="http://data.services.soa.temenos.com/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax252="http://data.integrationlandscape.services.temenos.com/xsd" targetNamespace="http://IntegrationLandscapeServiceWS">
    <wsdl:documentation>IntegrationLandscapeWebService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax251="http://response.data.integrationlandscape.services.temenos.com/xsd" xmlns:ax248="http://data.services.soa.temenos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://IntegrationLandscapeServiceWS">
            <xs:import namespace="http://data.services.soa.temenos.com/xsd"/>
            <xs:import namespace="http://response.data.integrationlandscape.services.temenos.com/xsd"/>
            <xs:element name="getVersions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetVersionsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlowFields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlowFieldsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetFlowFieldsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplications">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetApplicationsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOverrideCodes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOverrideCodesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetOverrideCodesResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionExitPoints">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionExitPointsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetVersionExitPointsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchema">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="enquiryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetEnquirySchemaResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSchema">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSchemaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetApplicationSchemaResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="versionName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetVersionSchemasResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaTyped">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="enquiryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaTypedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetEnquirySchemaTypedResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSchemaTyped">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationSchemaTypedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetApplicationSchemaTypedResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasTyped">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="versionName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasTypedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetVersionSchemasTypedResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationFields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationFieldsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetApplicationFieldsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComposerLandscape">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComposerLandscapeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetComposerLandscapeResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationsVersions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationsVersionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetApplicationsVersionsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTsaServiceJobs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTsaServiceJobsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetTsaServiceJobsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaTWS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="enquiryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaTWSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetEnquirySchemaTWSResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasTWS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="versionName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasTWSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetVersionSchemasTWSResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasTypedTWS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="versionName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionSchemasTypedTWSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetVersionSchemasTypedTWSResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventApplications">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetEventApplicationsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaTypedTWS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                        <xs:element minOccurs="0" name="enquiryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquirySchemaTypedTWSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetEnquirySchemaTypedTWSResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommonVars">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommonVarsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetCommonVarsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquiries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEnquiriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetEnquiriesResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCompanies">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax248:T24UserDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCompaniesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax251:GetCompaniesResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax250="http://data.services.soa.temenos.com/xsd" xmlns:ax253="http://data.integrationlandscape.services.temenos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.data.integrationlandscape.services.temenos.com/xsd">
            <xs:import namespace="http://data.services.soa.temenos.com/xsd"/>
            <xs:import namespace="http://data.integrationlandscape.services.temenos.com/xsd"/>
            <xs:complexType name="GetVersionsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="versionNames" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetFlowFieldsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applicationFields" nillable="true" type="ax253:ApplicationField"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetApplicationsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applicationNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetOverrideCodesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="overrideCodes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetVersionExitPointsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="versionExitPoints" nillable="true" type="ax253:VersionExitPoint"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetEnquirySchemaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enquirySchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetApplicationSchemaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationSchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetVersionSchemasResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="ax253:Schema"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetEnquirySchemaTypedResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enquirySchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetApplicationSchemaTypedResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationSchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetVersionSchemasTypedResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="ax253:Schema"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetApplicationFieldsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applicationFields" nillable="true" type="ax253:ApplicationField"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetComposerLandscapeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="landscapeSchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetApplicationsVersionsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="baseEventNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetTsaServiceJobsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tsaServiceJobs" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetEnquirySchemaTWSResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enquirySchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetVersionSchemasTWSResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="ax253:Schema"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetVersionSchemasTypedTWSResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schemas" nillable="true" type="ax253:Schema"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetEventApplicationsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applicationNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetEnquirySchemaTypedTWSResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enquirySchema" nillable="true" type="ax253:Schema"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetCommonVarsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="commonVars" nillable="true" type="ax253:CommonVar"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetEnquiriesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="enquiryNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetCompaniesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="companyIds" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax250:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.integrationlandscape.services.temenos.com/xsd">
            <xs:complexType name="ApplicationField">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aaProperty" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="VersionExitPoint">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="overridePermitted" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Schema">
                <xs:sequence>
                    <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CommonVar">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.services.soa.temenos.com/xsd">
            <xs:complexType name="T24UserDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="coCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passwordAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repeatPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userRole" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResponseDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="responses" nillable="true" type="ax247:Response"/>
                    <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseInfo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getFlowFieldsRequest">
        <wsdl:part name="parameters" element="ns:getFlowFields"/>
    </wsdl:message>
    <wsdl:message name="getFlowFieldsResponse">
        <wsdl:part name="parameters" element="ns:getFlowFieldsResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationsVersionsRequest">
        <wsdl:part name="parameters" element="ns:getApplicationsVersions"/>
    </wsdl:message>
    <wsdl:message name="getApplicationsVersionsResponse">
        <wsdl:part name="parameters" element="ns:getApplicationsVersionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasTypedRequest">
        <wsdl:part name="parameters" element="ns:getVersionSchemasTyped"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasTypedResponse">
        <wsdl:part name="parameters" element="ns:getVersionSchemasTypedResponse"/>
    </wsdl:message>
    <wsdl:message name="getCommonVarsRequest">
        <wsdl:part name="parameters" element="ns:getCommonVars"/>
    </wsdl:message>
    <wsdl:message name="getCommonVarsResponse">
        <wsdl:part name="parameters" element="ns:getCommonVarsResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasTWSRequest">
        <wsdl:part name="parameters" element="ns:getVersionSchemasTWS"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasTWSResponse">
        <wsdl:part name="parameters" element="ns:getVersionSchemasTWSResponse"/>
    </wsdl:message>
    <wsdl:message name="getEventApplicationsRequest">
        <wsdl:part name="parameters" element="ns:getEventApplications"/>
    </wsdl:message>
    <wsdl:message name="getEventApplicationsResponse">
        <wsdl:part name="parameters" element="ns:getEventApplicationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getComposerLandscapeRequest">
        <wsdl:part name="parameters" element="ns:getComposerLandscape"/>
    </wsdl:message>
    <wsdl:message name="getComposerLandscapeResponse">
        <wsdl:part name="parameters" element="ns:getComposerLandscapeResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionExitPointsRequest">
        <wsdl:part name="parameters" element="ns:getVersionExitPoints"/>
    </wsdl:message>
    <wsdl:message name="getVersionExitPointsResponse">
        <wsdl:part name="parameters" element="ns:getVersionExitPointsResponse"/>
    </wsdl:message>
    <wsdl:message name="getTsaServiceJobsRequest">
        <wsdl:part name="parameters" element="ns:getTsaServiceJobs"/>
    </wsdl:message>
    <wsdl:message name="getTsaServiceJobsResponse">
        <wsdl:part name="parameters" element="ns:getTsaServiceJobsResponse"/>
    </wsdl:message>
    <wsdl:message name="getEnquiriesRequest">
        <wsdl:part name="parameters" element="ns:getEnquiries"/>
    </wsdl:message>
    <wsdl:message name="getEnquiriesResponse">
        <wsdl:part name="parameters" element="ns:getEnquiriesResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationFieldsRequest">
        <wsdl:part name="parameters" element="ns:getApplicationFields"/>
    </wsdl:message>
    <wsdl:message name="getApplicationFieldsResponse">
        <wsdl:part name="parameters" element="ns:getApplicationFieldsResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasTypedTWSRequest">
        <wsdl:part name="parameters" element="ns:getVersionSchemasTypedTWS"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasTypedTWSResponse">
        <wsdl:part name="parameters" element="ns:getVersionSchemasTypedTWSResponse"/>
    </wsdl:message>
    <wsdl:message name="getCompaniesRequest">
        <wsdl:part name="parameters" element="ns:getCompanies"/>
    </wsdl:message>
    <wsdl:message name="getCompaniesResponse">
        <wsdl:part name="parameters" element="ns:getCompaniesResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationsRequest">
        <wsdl:part name="parameters" element="ns:getApplications"/>
    </wsdl:message>
    <wsdl:message name="getApplicationsResponse">
        <wsdl:part name="parameters" element="ns:getApplicationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasRequest">
        <wsdl:part name="parameters" element="ns:getVersionSchemas"/>
    </wsdl:message>
    <wsdl:message name="getVersionSchemasResponse">
        <wsdl:part name="parameters" element="ns:getVersionSchemasResponse"/>
    </wsdl:message>
    <wsdl:message name="getOverrideCodesRequest">
        <wsdl:part name="parameters" element="ns:getOverrideCodes"/>
    </wsdl:message>
    <wsdl:message name="getOverrideCodesResponse">
        <wsdl:part name="parameters" element="ns:getOverrideCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaRequest">
        <wsdl:part name="parameters" element="ns:getEnquirySchema"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaResponse">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionsRequest">
        <wsdl:part name="parameters" element="ns:getVersions"/>
    </wsdl:message>
    <wsdl:message name="getVersionsResponse">
        <wsdl:part name="parameters" element="ns:getVersionsResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSchemaTypedRequest">
        <wsdl:part name="parameters" element="ns:getApplicationSchemaTyped"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSchemaTypedResponse">
        <wsdl:part name="parameters" element="ns:getApplicationSchemaTypedResponse"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaTypedTWSRequest">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaTypedTWS"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaTypedTWSResponse">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaTypedTWSResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSchemaRequest">
        <wsdl:part name="parameters" element="ns:getApplicationSchema"/>
    </wsdl:message>
    <wsdl:message name="getApplicationSchemaResponse">
        <wsdl:part name="parameters" element="ns:getApplicationSchemaResponse"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaTypedRequest">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaTyped"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaTypedResponse">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaTypedResponse"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaTWSRequest">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaTWS"/>
    </wsdl:message>
    <wsdl:message name="getEnquirySchemaTWSResponse">
        <wsdl:part name="parameters" element="ns:getEnquirySchemaTWSResponse"/>
    </wsdl:message>
    <wsdl:portType name="IntegrationLandscapeServiceWSPortType">
        <wsdl:operation name="getFlowFields">
            <wsdl:input message="ns:getFlowFieldsRequest" wsaw:Action="urn:getFlowFields"/>
            <wsdl:output message="ns:getFlowFieldsResponse" wsaw:Action="urn:getFlowFieldsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsVersions">
            <wsdl:input message="ns:getApplicationsVersionsRequest" wsaw:Action="urn:getApplicationsVersions"/>
            <wsdl:output message="ns:getApplicationsVersionsResponse" wsaw:Action="urn:getApplicationsVersionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTyped">
            <wsdl:input message="ns:getVersionSchemasTypedRequest" wsaw:Action="urn:getVersionSchemasTyped"/>
            <wsdl:output message="ns:getVersionSchemasTypedResponse" wsaw:Action="urn:getVersionSchemasTypedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCommonVars">
            <wsdl:input message="ns:getCommonVarsRequest" wsaw:Action="urn:getCommonVars"/>
            <wsdl:output message="ns:getCommonVarsResponse" wsaw:Action="urn:getCommonVarsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTWS">
            <wsdl:input message="ns:getVersionSchemasTWSRequest" wsaw:Action="urn:getVersionSchemasTWS"/>
            <wsdl:output message="ns:getVersionSchemasTWSResponse" wsaw:Action="urn:getVersionSchemasTWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEventApplications">
            <wsdl:input message="ns:getEventApplicationsRequest" wsaw:Action="urn:getEventApplications"/>
            <wsdl:output message="ns:getEventApplicationsResponse" wsaw:Action="urn:getEventApplicationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getComposerLandscape">
            <wsdl:input message="ns:getComposerLandscapeRequest" wsaw:Action="urn:getComposerLandscape"/>
            <wsdl:output message="ns:getComposerLandscapeResponse" wsaw:Action="urn:getComposerLandscapeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionExitPoints">
            <wsdl:input message="ns:getVersionExitPointsRequest" wsaw:Action="urn:getVersionExitPoints"/>
            <wsdl:output message="ns:getVersionExitPointsResponse" wsaw:Action="urn:getVersionExitPointsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTsaServiceJobs">
            <wsdl:input message="ns:getTsaServiceJobsRequest" wsaw:Action="urn:getTsaServiceJobs"/>
            <wsdl:output message="ns:getTsaServiceJobsResponse" wsaw:Action="urn:getTsaServiceJobsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEnquiries">
            <wsdl:input message="ns:getEnquiriesRequest" wsaw:Action="urn:getEnquiries"/>
            <wsdl:output message="ns:getEnquiriesResponse" wsaw:Action="urn:getEnquiriesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationFields">
            <wsdl:input message="ns:getApplicationFieldsRequest" wsaw:Action="urn:getApplicationFields"/>
            <wsdl:output message="ns:getApplicationFieldsResponse" wsaw:Action="urn:getApplicationFieldsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTypedTWS">
            <wsdl:input message="ns:getVersionSchemasTypedTWSRequest" wsaw:Action="urn:getVersionSchemasTypedTWS"/>
            <wsdl:output message="ns:getVersionSchemasTypedTWSResponse" wsaw:Action="urn:getVersionSchemasTypedTWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCompanies">
            <wsdl:input message="ns:getCompaniesRequest" wsaw:Action="urn:getCompanies"/>
            <wsdl:output message="ns:getCompaniesResponse" wsaw:Action="urn:getCompaniesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <wsdl:input message="ns:getApplicationsRequest" wsaw:Action="urn:getApplications"/>
            <wsdl:output message="ns:getApplicationsResponse" wsaw:Action="urn:getApplicationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemas">
            <wsdl:input message="ns:getVersionSchemasRequest" wsaw:Action="urn:getVersionSchemas"/>
            <wsdl:output message="ns:getVersionSchemasResponse" wsaw:Action="urn:getVersionSchemasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOverrideCodes">
            <wsdl:input message="ns:getOverrideCodesRequest" wsaw:Action="urn:getOverrideCodes"/>
            <wsdl:output message="ns:getOverrideCodesResponse" wsaw:Action="urn:getOverrideCodesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchema">
            <wsdl:input message="ns:getEnquirySchemaRequest" wsaw:Action="urn:getEnquirySchema"/>
            <wsdl:output message="ns:getEnquirySchemaResponse" wsaw:Action="urn:getEnquirySchemaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersions">
            <wsdl:input message="ns:getVersionsRequest" wsaw:Action="urn:getVersions"/>
            <wsdl:output message="ns:getVersionsResponse" wsaw:Action="urn:getVersionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchemaTyped">
            <wsdl:input message="ns:getApplicationSchemaTypedRequest" wsaw:Action="urn:getApplicationSchemaTyped"/>
            <wsdl:output message="ns:getApplicationSchemaTypedResponse" wsaw:Action="urn:getApplicationSchemaTypedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTypedTWS">
            <wsdl:input message="ns:getEnquirySchemaTypedTWSRequest" wsaw:Action="urn:getEnquirySchemaTypedTWS"/>
            <wsdl:output message="ns:getEnquirySchemaTypedTWSResponse" wsaw:Action="urn:getEnquirySchemaTypedTWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchema">
            <wsdl:input message="ns:getApplicationSchemaRequest" wsaw:Action="urn:getApplicationSchema"/>
            <wsdl:output message="ns:getApplicationSchemaResponse" wsaw:Action="urn:getApplicationSchemaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTyped">
            <wsdl:input message="ns:getEnquirySchemaTypedRequest" wsaw:Action="urn:getEnquirySchemaTyped"/>
            <wsdl:output message="ns:getEnquirySchemaTypedResponse" wsaw:Action="urn:getEnquirySchemaTypedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTWS">
            <wsdl:input message="ns:getEnquirySchemaTWSRequest" wsaw:Action="urn:getEnquirySchemaTWS"/>
            <wsdl:output message="ns:getEnquirySchemaTWSResponse" wsaw:Action="urn:getEnquirySchemaTWSResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IntegrationLandscapeServiceWSSoap11Binding" type="ns:IntegrationLandscapeServiceWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFlowFields">
            <soap:operation soapAction="urn:getFlowFields" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsVersions">
            <soap:operation soapAction="urn:getApplicationsVersions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTyped">
            <soap:operation soapAction="urn:getVersionSchemasTyped" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommonVars">
            <soap:operation soapAction="urn:getCommonVars" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTWS">
            <soap:operation soapAction="urn:getVersionSchemasTWS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventApplications">
            <soap:operation soapAction="urn:getEventApplications" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComposerLandscape">
            <soap:operation soapAction="urn:getComposerLandscape" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionExitPoints">
            <soap:operation soapAction="urn:getVersionExitPoints" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTsaServiceJobs">
            <soap:operation soapAction="urn:getTsaServiceJobs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquiries">
            <soap:operation soapAction="urn:getEnquiries" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationFields">
            <soap:operation soapAction="urn:getApplicationFields" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTypedTWS">
            <soap:operation soapAction="urn:getVersionSchemasTypedTWS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompanies">
            <soap:operation soapAction="urn:getCompanies" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <soap:operation soapAction="urn:getApplications" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOverrideCodes">
            <soap:operation soapAction="urn:getOverrideCodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemas">
            <soap:operation soapAction="urn:getVersionSchemas" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchema">
            <soap:operation soapAction="urn:getEnquirySchema" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersions">
            <soap:operation soapAction="urn:getVersions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchemaTyped">
            <soap:operation soapAction="urn:getApplicationSchemaTyped" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTypedTWS">
            <soap:operation soapAction="urn:getEnquirySchemaTypedTWS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchema">
            <soap:operation soapAction="urn:getApplicationSchema" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTyped">
            <soap:operation soapAction="urn:getEnquirySchemaTyped" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTWS">
            <soap:operation soapAction="urn:getEnquirySchemaTWS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IntegrationLandscapeServiceWSSoap12Binding" type="ns:IntegrationLandscapeServiceWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFlowFields">
            <soap12:operation soapAction="urn:getFlowFields" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsVersions">
            <soap12:operation soapAction="urn:getApplicationsVersions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTyped">
            <soap12:operation soapAction="urn:getVersionSchemasTyped" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommonVars">
            <soap12:operation soapAction="urn:getCommonVars" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTWS">
            <soap12:operation soapAction="urn:getVersionSchemasTWS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventApplications">
            <soap12:operation soapAction="urn:getEventApplications" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComposerLandscape">
            <soap12:operation soapAction="urn:getComposerLandscape" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionExitPoints">
            <soap12:operation soapAction="urn:getVersionExitPoints" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTsaServiceJobs">
            <soap12:operation soapAction="urn:getTsaServiceJobs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquiries">
            <soap12:operation soapAction="urn:getEnquiries" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationFields">
            <soap12:operation soapAction="urn:getApplicationFields" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTypedTWS">
            <soap12:operation soapAction="urn:getVersionSchemasTypedTWS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompanies">
            <soap12:operation soapAction="urn:getCompanies" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <soap12:operation soapAction="urn:getApplications" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOverrideCodes">
            <soap12:operation soapAction="urn:getOverrideCodes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemas">
            <soap12:operation soapAction="urn:getVersionSchemas" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchema">
            <soap12:operation soapAction="urn:getEnquirySchema" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersions">
            <soap12:operation soapAction="urn:getVersions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchemaTyped">
            <soap12:operation soapAction="urn:getApplicationSchemaTyped" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTypedTWS">
            <soap12:operation soapAction="urn:getEnquirySchemaTypedTWS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchema">
            <soap12:operation soapAction="urn:getApplicationSchema" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTyped">
            <soap12:operation soapAction="urn:getEnquirySchemaTyped" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTWS">
            <soap12:operation soapAction="urn:getEnquirySchemaTWS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IntegrationLandscapeServiceWSHttpBinding" type="ns:IntegrationLandscapeServiceWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getFlowFields">
            <http:operation location="getFlowFields"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsVersions">
            <http:operation location="getApplicationsVersions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTyped">
            <http:operation location="getVersionSchemasTyped"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommonVars">
            <http:operation location="getCommonVars"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTWS">
            <http:operation location="getVersionSchemasTWS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventApplications">
            <http:operation location="getEventApplications"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComposerLandscape">
            <http:operation location="getComposerLandscape"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionExitPoints">
            <http:operation location="getVersionExitPoints"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTsaServiceJobs">
            <http:operation location="getTsaServiceJobs"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquiries">
            <http:operation location="getEnquiries"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationFields">
            <http:operation location="getApplicationFields"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemasTypedTWS">
            <http:operation location="getVersionSchemasTypedTWS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompanies">
            <http:operation location="getCompanies"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplications">
            <http:operation location="getApplications"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOverrideCodes">
            <http:operation location="getOverrideCodes"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersionSchemas">
            <http:operation location="getVersionSchemas"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchema">
            <http:operation location="getEnquirySchema"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersions">
            <http:operation location="getVersions"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchemaTyped">
            <http:operation location="getApplicationSchemaTyped"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTypedTWS">
            <http:operation location="getEnquirySchemaTypedTWS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationSchema">
            <http:operation location="getApplicationSchema"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTyped">
            <http:operation location="getEnquirySchemaTyped"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEnquirySchemaTWS">
            <http:operation location="getEnquirySchemaTWS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IntegrationLandscapeServiceWS">
        <wsdl:port name="IntegrationLandscapeServiceWSHttpSoap11Endpoint" binding="ns:IntegrationLandscapeServiceWSSoap11Binding">
            <soap:address location="http://localhost:9089/axis2/services/IntegrationLandscapeServiceWS.IntegrationLandscapeServiceWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IntegrationLandscapeServiceWSHttpSoap12Endpoint" binding="ns:IntegrationLandscapeServiceWSSoap12Binding">
            <soap12:address location="http://localhost:9089/axis2/services/IntegrationLandscapeServiceWS.IntegrationLandscapeServiceWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IntegrationLandscapeServiceWSHttpEndpoint" binding="ns:IntegrationLandscapeServiceWSHttpBinding">
            <http:address location="http://localhost:9089/axis2/services/IntegrationLandscapeServiceWS.IntegrationLandscapeServiceWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
